@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

html { 
    background: url() no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav{
    overflow: hidden;
    background-color: inherit;
}

.page_section{
    float: left;
}

.name{
    margin-top: 20px;
    margin-right: 0px;
    width: 25%;
    float: left;
    font-family: 'Raleway', sans-serif;
    color: rgba(49, 49, 49, 0.719);
    font-size: 100%;
}

.links{
    list-style-type: none;
    margin: 20px 10px;
    padding: 0;
    overflow: hidden;
    display: inline-flex;
    border-radius: 15px;
    box-shadow: none;
    float: right;
}

li a {
    display: block;
    padding: 8px 10px;
    background-color: transparent;
    color: rgb(24, 24, 24);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.hero{
    margin-top: 30px;
    overflow: hidden;
}

.hero_title{
    font-family: 'Raleway', sans-serif;
    color: rgb(31, 31, 31);
    text-align: center;
    font-weight: 400;
    font-size: 300%;
}

.hero_text{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    text-align: center;
}